node_modules
dist
logs
*.log
__MACOSX
.Saved/
_arc/
.publish/
.DS_Store
*.sublime-*
*.rar
*.zip
.idea
ex_files
Thumbs.db
*:Zone.Identifier
.env

/tmp
/out-tsc

/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

.vscode/*