.text-background span {
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

div .text-background span {
    background-color: yellow;
}

span span {
    background-color: lightgray;
    text-decoration: line-through;
}

ol span span {
    font-size: 18px;
    text-transform: uppercase;
}

section > p {
    text-shadow: 3px 3px 5px gray;
    text-indent: 50px;
}

li > ul {
    list-style-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14'%3E%3Cpath d='M2 7l3 3 7-7' fill='none' stroke='%235b5275' stroke-width='2.5'/%3E%3C/svg%3E");
}

div > p.text-background {
    word-spacing: 50px;
}

.text-bold > p {
    font-weight: bold;
}

.text-bold > section > p {
    line-height: 45px;
}

img + p {
    background-color: brown;
}

section ~ p {
    color: red;
}
